.header {
  padding: 80px;
  text-align: center;
  background: #515151;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  text-align: center;
  background-color: #000000;
  color: white;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.image {
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
